h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
}
.icon-menu {
  font-size: 200%;
}
.menu-div {
  padding: 20px 0px 20px 0px;
  text-align: right;
}
#the-menu {
  padding-bottom: 20px
}
#main-heading {
  background-color: #46494C;
  margin-top: 0px;
}
#main-heading h1 {
  padding: 25px 0px 25px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 300%;
  text-align: center;
  color: #DCDCDD;
}
#content-area {
  width: 70%;
  margin: auto;
}

#projects h2{
  font-size: 150%;
}
#projects > * {
  text-align: center;
}
#about {
  visibility: hidden;
}
#about h2{
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}
#about p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.project-img {
  border: 3px solid #46494C;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}
.slick-prev {
  height: 40px;
  width: 40px;
  left: -50px;
}
.slick-next {
  height: 40px;
  width: 40px;
  right: -50px;
}
.slick-prev:before, .slick-next:before {
  opacity: 1;
  font-size: 40px;
  color: #46494C;
}
.slick-prev:hover:before,
.slick-next:hover:before
{
    color: #1985A1;
}
.slick-dots li button:before {
  opacity: 1;
  color: #46494C;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  color: #1985A1;
  opacity: 1;
}
.slick-dots li.slick-active button:before
{
    opacity: 1;
    color: #1985A1;
}
